@import 'mixins';

.eventsTable {
  caption {
    @include hidden-from-screen;
  }
}

.idColumn,
.statusColumn {
  width: 1%;
}

.timeColumn {
  white-space: nowrap;
  width: 140px;
}

.nameColumn,
.publisherColumn {
  width: 50%;
}

.idWrapper {
  display: flex;
  align-items: center;

  button {
    display: flex;
    padding: 0 var(--spacing-3-xs);
  }
}

.noBorder {
  td {
    border-bottom: 1px solid transparent !important;
  }
}

.superEventTypeTag {
  margin-right: var(--spacing-2-xs);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  grid-gap: var(--spacing-2-xs);

  > div {
    width: 100%;
  }
}
