.statusColumn {
  width: 1%;
}

.timeColumn {
  white-space: nowrap;
  width: 140px;
}

.nameColumn,
.publisherColumn {
  width: 50%;
}

.nameColumn {
  max-width: 360px;
}

.publisherColumn {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nameWrapper {
  display: flex;
  align-items: center;

  button {
    display: flex;
    padding: 0;
    margin-right: var(--spacing-2-xs);
  }

  .eventName {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.actionButtonsColumn {
  padding: var(--focus-outline-width) !important;
}

.noBorder {
  td {
    border-bottom: 1px solid transparent !important;
  }
}

.superEventTypeTag {
  margin-right: var(--spacing-2-xs);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  grid-gap: var(--spacing-2-xs);

  > div {
    width: 100%;
  }
}

.loadingSpinner {
  padding: 0;
  display: inline-flex;
  width: unset;
}
