.infoWrapper {
  background-color: var(--color-info-light);
  border-left: 8px solid var(--color-info);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  margin-bottom: var(--spacing-l);
  padding: 0 var(--spacing-m);
}
.infoBlock {
  font-size: var(--fontsize-body-m);
  line-height: 26px;
  margin: 0;
  padding: var(--spacing-s);
}
.infoText {
  margin: 0;
  padding: 0;
}
