@import '../../assets/styles/breakpoints';

.registrationPage {
  h1 {
    font-size: var(--fontsize-heading-l);
    font-weight: 500;
    margin: 0;
  }
  h2,
  h3 {
    font-size: var(--fontsize-heading-s);
    font-weight: normal;
  }
  p {
    margin-top: 0;
  }
}

.breadcrumb {
  margin-bottom: var(--spacing-m);  
}

.createContainer {
  margin-top: var(--spacing-m);
}

.editPageContentContainer {
  background-color: var(--color-white);
  margin: var(--spacing-m) calc(0px - var(--spacing-m));
  padding: var(--spacing-m);
}

.splittedRow {
  display: grid;
  grid-gap: var(--spacing-s);

  @include small-up {
    grid-template-columns: repeat(2, 1fr);
  }

  @include medium-up {
    grid-gap: var(--spacing-m);
  }
}
