@import 'breakpoints';

.splittedRow {
  display: grid;
  grid-gap: var(--spacing-m);

  @include medium-up {
    grid-template-columns: 1fr 1fr;
  }
}

.buttonWrapper {
  margin-top: var(--spacing-5-xl);
}
