@import 'breakpoints';

.priceSectionRow {
  display: grid;
  grid-template-columns: 1fr var(--input-height);

  @include medium-up {
    grid-template-columns: minmax(0, var(--input-max-width-l)) auto;
  }

  .inputWrapper {
    @include medium-up {
      max-width: var(--input-max-width-l);
    }
  }

  .buttonWrapper {
    min-width: var(--input-height);
    padding-top: var(--label-height);
  }
}
