@import '../../../assets/styles/mixins';

.datepickerWrapper {
  --focus-outline-width: 3px;
  --calendar-button-height: 56px;
  --close-button-color: var(--color-bus);
  --day-background-color: transparent;
  --day-background-color-disabled: transparent;
  --day-background-color-focused: transparent;
  --day-background-color-hovered: var(--color-black-10);
  --day-background-color-selected: var(--color-bus);
  --day-border-color: transparent;
  --day-border-color-disabled: transparent;
  --day-border-color-focused: var(--color-bus);
  --day-border-color-hovered: transparent;
  --day-border-color-selected: transparent;
  --day-color: var(--color-black);
  --day-color-disabled: #6d7278;
  --day-color-focused: var(--color-black);
  --day-color-hovered: var(--color-black);
  --day-color-selected: var(--color-white);
  --day-size: var(--spacing-xl);
  --datepicker-background-color: var(--color-white);
  --datepicker-container-padding: 1rem;
  --datepicker-z-index: 101;
  --icon-width: var(--spacing-m);
  --input-spacing: var(--spacing-s);
  --month-title-color: var(--color-black);
  --times-divider-border-color: var(--color-black-10);
  --times-list-width: 110px;
  --time-item-background-color: transparent;
  --time-item-background-color-focused: var(--color-black-10);
  --time-item-background-color-selected: var(--color-white);
  --time-item-color: var(--color-black-90);
  --time-item-color-focused: var(--color-black-90);
  --time-item-color-selected: var(--color-black-90);
}

.datepickerWrapper {
  .datepickerContainer {
    padding: var(--datepicker-container-padding);
    text-align: center;
    line-height: 1.7rem;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    z-index: var(--datepicker-z-index);
    top: 100%;
    position: absolute;
    background-color: var(--datepicker-background-color);
  }

  .selectorsWrapper {
    display: flex;
  }

  .monthNavigation {
    display: flex;
    justify-content: space-between;
    margin: var(--spacing-2-xs) 0;
    padding: 0 var(--spacing-xs);
  }

  .currentMonth {
    font-size: var(--fontsize-body-m);
    color: var(--month-title-color);
    font-weight: 500;
    text-transform: capitalize;
  }

  .datesContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .weekdayRow {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: var(--spacing-2-xs) 0;
    font-weight: 500;
    text-transform: uppercase;
  }

  .closeButton {
    color: var(--close-button-color);
    font-weight: 500;
    width: 100%;
    margin: var(--spacing-xs) 0 0 0;
  }

  .dayButton {
    padding: var(--spacing-3-xs);
    font-weight: 500;
    width: var(--day-size);
    height: var(--day-size);
    background-color: var(--day-background-color);
    color: var(--day-color);

    &:hover {
      background-color: var(--day-background-color-hovered);
      border-color: var(--day-border-color-hovered);
      color: var(--day-color-hovered);
    }

    @include focus-outline(
      calc(0px - var(--focus-outline-width)),
      var(--day-border-color-focused)
    );
  }

  .daySelected {
    background-color: var(--day-background-color-selected) !important;
    border-color: var(--day-border-color-selected) !important;
    color: var(--day-color-selected) !important;
  }

  .dayDisabled {
    background-color: var(--day-background-color-disabled);
    border-color: var(--day-border-color-disabled);
    color: var(--day-color-disabled);
    font-weight: normal;
  }

  .dayToday {
    background-color: var(--day-background-color-focused);
    border-color: var(--day-border-color-focused);
    color: var(--day-color-focused);
  }

  .monthNavButton {
    width: var(--spacing-m);
    padding: 0;

    svg {
      display: block;
    }

    @include focus-outline(calc(0px - var(--focus-outline-width)));
  }

  .timesDivider {
    border-left: 1px solid var(--times-divider-border-color);
    margin-left: var(--datepicker-container-padding);
  }

  .timesList {
    position: absolute;
    text-align: left;
    width: 100%;
    padding: 0;
  }

  .timesListContainer {
    position: relative;
    overflow-y: auto;
    margin: calc(var(--datepicker-container-padding) * -1)
      calc(var(--datepicker-container-padding) * -1)
      calc(var(--datepicker-container-padding) * -1) 0;
    width: var(--times-list-width);

    @include focus-outline(calc(0px - var(--focus-outline-width)));
  }

  .timeItem {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: var(--spacing-2-xs);
    padding: var(--spacing-2-xs) var(--spacing-xs);
    width: 100%;
    text-align: left;
    border: 1px solid transparent;
    background-color: var(--time-item-background-color);
    color: var(--time-item-color);
    outline: none;

    &.selectedTimeItem {
      background-color: var(--time-item-background-color-selected);
      color: var(--time-item-color-selected);
    }

    &:focus {
      background-color: var(--time-item-background-color-focused);
      color: var(--time-item-color-focused);
    }
  }
}
