
*
!.env
!.env.local
!.env.development
!.env.development.local
!.prod
!public
!scripts
!src
!package.json
!.eslintignore
!.eslintrc.json
!.prettierrc.json
!tsconfig.json
!vite.config.ts
!yarn.lock
!index.html
**/__tests__/**
