.footer {
  display: grid;
  line-height: var(--lineheight-l);

  & > div:first-child {
    height: 15px;
  }

  a,
  button {
    &:focus:not(:focus-visible)::after {
      --footer-focus-outline-color: transparent !important;
    }
  }

  &.themeSupport {
    --footer-background: var(--footer-background-support) !important;
    --footer-color: var(--footer-color-support) !important;
    --footer-divider-color: var(--footer-divider-color-support) !important;
    --footer-focus-outline-color: var(
      --footer-focus-outline-color-support
    ) !important;

    background-color: var(--color-white) !important;
  }
}
