@import 'breakpoints';

.navigation {
  .navigationItem {
    color: var(--navigation-item-color) !important;
  }

  .addEventItem {
    @include medium-up {
      margin-left: auto !important;
    }

    &.hidden {
      visibility: hidden;
    }

    svg {
      margin-right: var(--spacing-xs);
    }
  }
  .navigationItemLabel {
    display: flex;
    align-items: center;
  }

  .languageSelector {
    @include small-down {
      position: absolute;
      right: var(--spacing-5-xl);
    }
    & > div {
      left: unset;
      right: 0;
    }
  }
}
