@import '../../../assets/styles/breakpoints';

.navigation {
  z-index: var(--header-z-index);
  left: 0;
  position: sticky !important;
  top: 0;

  &.hideNavRow {
    @include medium-up {
      > div:first-of-type {
        border: none;
      }

      nav {
        display: none;
      }
    }
  }

  .navigationItem {
    color: var(--color-black) !important;

    &:focus-visible {
      outline-color: var(--color-coat-of-arms) !important;
    }
  }
}
