@import '../../../assets/styles/breakpoints';
@import '../../../assets/styles/mixins';

.modal {
  line-height: var(--lineheight-l);
}

.checkbox {
  margin-top: var(--spacing-m);
}

.languageSelector {
  --focus-outline-color: var(--color-coat-of-arms);
  --focus-outline-width: 2px;

  display: flex;
  width: auto;
  margin-bottom: calc(0px - var(--spacing-m));

  padding: var(--spacing-m) var(--spacing-m) var(--spacing-3-xs);

  @include medium-up {
    padding-left: var(--spacing-l);
    padding-right: var(--spacing-l);
    padding-bottom: var(--spacing-2-xs);
  }

  button {
    position: unset;
    flex-direction: row-reverse;
    font-size: var(--fontsize-body-m);

    @include focus-outline(0px);
  }

  div[role='region'] {
    left: 0;
    right: unset;
    z-index: 1;
  }

  @include small-down {
    > div {
      position: relative;
      right: unset;
    }
  }
}

.buttonWrapper {
  display: grid;
  grid-gap: var(--spacing-s);
  margin-top: var(--spacing-m);

  @include medium-up {
    display: flex;
    flex-wrap: nowrap;
    grid-gap: unset;

    button {
      margin-right: var(--spacing-s);
      white-space: nowrap;
    }
  }
}
