@import 'breakpoints';

.checkbox {
  margin-top: var(--spacing-m);
}

.buttonWrapper {
  display: grid;
  grid-gap: var(--spacing-s);
  margin-top: var(--spacing-m);

  @include medium-up {
    display: flex;
    flex-wrap: nowrap;
    grid-gap: unset;

    button {
      margin-right: var(--spacing-s);
      white-space: nowrap;
    }
  }
}
