@import 'breakpoints';
@import 'widths';

.buttonPanel {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--spacing-m) 0;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-black-10);
  z-index: 100;
}

.buttonsRow {
  display: grid;
  grid-gap: var(--spacing-m);
  grid-template-columns: repeat(2, 1fr);

  @include medium-up {
    display: flex;
    grid-gap: unset;
    justify-content: flex-end;

    .buttonColumn {
      @include min-width-column(2);

      &:not(:last-of-type) {
        margin-right: var(--spacing-m);
      }
    }
  }
}
