@import '../../../assets/styles/breakpoints';
@import '../../../assets/styles/mixins';

.serviceCard {
  --service-card-background-color: var(--color-suomenlinna);
  --service-card-color: var(--color-black);
  --service-card-description-font-size: var(--fontsize-body-l);
  --service-card-description-line-height: var(--lineheight-l);
  --service-card-min-height: 360px;
  --service-card-title-font-size: 52px;
  --service-card-title-line-height: var(--lineheight-m);

  position: relative;
  display: grid;
  text-decoration: none;

  @include medium-up {
    grid-template-columns: repeat(2, 1fr);
  }

  @include focus-outline(0px);

  div[role='region'] {
    @include small-down {
      order: 2;
    }
    background-color: var(--service-card-background-color);

    > div {
      background-color: var(--service-card-background-color);
    }
  }

  .bgImage {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: var(--service-card-min-height);

    .author {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: var(--spacing-2-xs) var(--spacing-m);
      background-color: rgba($color: #000000, $alpha: 0.6);
      color: var(--color-white);
      font-weight: 400;
      font-size: var(--fontsize-body-s);
    }

    @include small-down {
      order: 1;
    }
  }
}

.colorMetro {
  --service-card-background-color: var(--color-metro-medium-light);
}

.colorSuomenlinna {
  --service-card-background-color: var(--color-suomenlinna);
}
