@import 'breakpoints';
@import 'mixins';
@import 'widths';

.serviceCard {
  --service-card-background-color: var(--color-suomenlinna);
  --service-card-color: var(--color-black);
  --service-card-description-font-size: var(--fontsize-body-l);
  --service-card-description-line-height: var(--lineheight-l);
  --service-card-min-height: 360px;
  --service-card-title-font-size: 52px;
  --service-card-title-line-height: var(--lineheight-m);

  position: relative;
  display: grid;
  text-decoration: none;
  display: grid;

  @include medium-up {
    grid-template-columns: repeat(2, 1fr);
  }

  @include focus-outline(0px);

  .textWrapper {
    background-color: var(--service-card-background-color);
    padding: var(--spacing-l);
    min-height: var(--service-card-min-height);
    color: var(--service-card-color);
    display: grid;
    grid-gap: var(--spacing-m);
    grid-template-rows: auto 1fr auto;

    .title {
      font-size: var(--service-card-title-font-size) !important;
      line-height: var(--service-card-title-line-height) !important;
      font-weight: 700;
      margin: 0;
      word-break: break-word;

      @include max-width-column(6);
    }

    .description {
      font-size: var(--service-card-description-font-size);
      line-height: var(--service-card-description-line-height);
    }
  }

  .bgImage {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: var(--service-card-min-height);

    .author {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: var(--spacing-2-xs) var(--spacing-m);
      background-color: rgba($color: #000000, $alpha: 0.6);
      color: var(--color-white);
      font-weight: 400;
      font-size: var(--fontsize-body-s);
    }
  }
}

.colorMetro {
  --service-card-background-color: var(--color-metro-medium-light);
}

.colorSuomenlinna {
  --service-card-background-color: var(--color-suomenlinna);
}
