.nameWrapper {
  display: flex;
  align-items: center;

  button {
    display: flex;
    padding: 0;
    margin-right: var(--spacing-2-xs);
  }

  .organizationName {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.nameColumn,
.parentColumn {
  width: 40%;
}

.nameColumn {
  max-width: 360px;
}

.parentColumn {
  max-width: 200px;
}

.actionButtonsColumn {
  width: 1%;
  padding: var(--focus-outline-width) !important;
}

.clickableRow {
  composes: clickableRow from '../../../common/components/table/table.module.scss';
}
