@import '../../assets/styles/breakpoints';
@import '../../assets/styles/widths.scss';

.eventPage {
  h1,
  h2 {
    font-size: var(--fontsize-heading-l);
    font-weight: 500;
    margin: 0;
  }
  h3 {
    font-size: var(--fontsize-heading-s);
    margin: var(--spacing-m) 0;
    font-weight: normal;
  }
  p {
    margin-top: 0;
  }
}

.breadcrumb {
  margin-top: calc(0px - var(--spacing-s));
}

.createContainer {
  margin-top: var(--spacing-m);
}

.notification {
  @include medium-up {
    margin-top: var(--label-height);
  }
}

.notificationForTitle {
  @include medium-up {
    margin-top: -54px;
  }
}

.secondNotification {
  margin-top: var(--spacing-m);
}

.numberRow {
  display: grid;
  grid-gap: var(--spacing-s);

  @include small-up {
    grid-template-columns: repeat(2, 1fr);
  }

  @include medium-up {
    grid-gap: var(--spacing-m);
  }
}

.fieldWithLongText {
  label {
    white-space: nowrap;
  }

  @include medium-up {
    @include max-width-column(2);
  }
}

.noBottomMargin {
  @include medium-up {
    margin-bottom: 0px !important;
  }
}

.noTopMargin {
  @include medium-up {
    margin-top: 0px !important;
  }
}

.publicationNotification {
  margin-bottom: var(--spacing-m);
}

.editPageContentContainer {
  background-color: var(--color-white);
  margin: var(--spacing-m) calc(0px - var(--spacing-s));
  padding: var(--spacing-s);

  @include medium-up {
    margin: var(--spacing-m) calc(0px - var(--spacing-m));
    padding: var(--spacing-m);
  }
}

.hierarchyLink {
  text-decoration: none;
}
