@import 'breakpoints';

.eventPage {
  h1,
  h3 {
    font-weight: normal;
  }
  h1 {
    color: var(--color-black-70);
    font-size: var(--fontsize-heading-xxs);
    margin-top: var(--spacing-m);
    margin-bottom: calc(0rem - var(--spacing-3-xs));
  }
  h2 {
    font-size: var(--fontsize-heading-l);
    font-weight: 500;
    margin: 0;
  }
  h3 {
    font-size: var(--fontsize-heading-s);
  }
  p {
    margin-top: 0;
  }
}

.notification {
  @include medium-up {
    margin-top: var(--label-height);
  }
}

.splittedRow {
  display: grid;
  grid-gap: var(--spacing-m);

  @include medium-up {
    grid-template-columns: repeat(2, 1fr);
  }
}

.noBottomMargin {
  @include medium-up {
    margin-bottom: 0px !important;
  }
}

.noTopMargin {
  @include medium-up {
    margin-top: 0px !important;
  }
}
