@import 'breakpoints';

.eventPage {
  h1,
  h2 {
    font-size: var(--fontsize-heading-l);
    font-weight: 500;
    margin: 0;
  }
  h3 {
    font-size: var(--fontsize-heading-s);
    font-weight: normal;
  }
  p {
    margin-top: 0;
  }
}

.createContainer {
  margin-top: var(--spacing-m);
}

.notification {
  @include medium-up {
    margin-top: var(--label-height);
  }
}

.splittedRow {
  display: grid;
  grid-gap: var(--spacing-m);

  @include medium-up {
    grid-template-columns: repeat(2, 1fr);
  }
}

.numberRow {
  display: grid;
  grid-gap: var(--spacing-s);

  @include small-up {
    grid-template-columns: repeat(2, 1fr);
  }

  @include medium-up {
    grid-gap: var(--spacing-m);
  }
}

.noBottomMargin {
  @include medium-up {
    margin-bottom: 0px !important;
  }
}

.noTopMargin {
  @include medium-up {
    margin-top: 0px !important;
  }
}

.editPageContentContainer {
  background-color: var(--color-white);
  margin: var(--spacing-m) calc(0px - var(--spacing-m));
  padding: var(--spacing-m);
}

.hierarchyLink {
  text-decoration: none;
}
