.eventHierarchy {
  display: grid;
  grid-gap: var(--spacing-2-xs);
}

.eventHierarchyRow {
  display: flex;
  align-items: center;
  grid-gap: var(--spacing-2-xs);

  button {
    padding: 0;
  }

  .name {
    font-weight: 500;
  }

  &.disabled {
    opacity: 0.7;

    .name {
      font-weight: normal;
    }

    button {
      color: var(--color-black-90);
      cursor: not-allowed;
    }
  }
}
