@import 'breakpoints';

.helpPageLayout {
  @include medium-only {
    grid-template-columns: repeat(8, 1fr);
  }

  @include large-up {
    grid-template-columns: repeat(12, 1fr);
  }

  > div:first-of-type {
    @include medium-only {
      grid-column: 1 / 3;
    }

    @include large-up {
      grid-column: 1 / 4;
    }
  }

  > div:nth-of-type(2) {
    @include medium-only {
      grid-column: 3 / 9;
    }

    @include large-up {
      grid-column: 5 / 12;
    }
  }
}
