@import 'breakpoints';
@import 'mixins';

.helpPageWrapper {
  width: 100%;
  background-color: var(--color-white);
}

.helpPageLayout {
  display: grid;
  grid-gap: var(--spacing-m);

  @include medium-only {
    grid-template-columns: repeat(8, 1fr);
  }

  @include large-up {
    grid-template-columns: repeat(12, 1fr);
  }

  .sideNavigation {
    margin-top: var(--spacing-m);

    @include medium-only {
      grid-column: 1 / 3;
    }

    @include medium-up {
      height: 100%;
      background-color: var(--color-white);
      position: relative;
      margin-top: 0;

      &:before {
        content: '';
        position: absolute;
        background-color: var(--color-white);
        top: 0;
        bottom: 0;
        width: 100vw;
        left: -100vw;
      }

      & > div {
        position: sticky;
        overflow: auto;
      }
    }

    @include large-up {
      grid-column: 1 / 4;
    }
  }

  .content {
    padding-bottom: var(--spacing-5-xl);
    line-height: var(--lineheight-l);

    @include medium-only {
      grid-column: 3 / 9;
    }

    @include large-up {
      grid-column: 5 / 12;
    }

    a {
      @include focus-outline(0px);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 500;
      color: var(--color-black-70);
    }

    p {
      color: var(--color-black-70);
    }

    h1 {
      margin-bottom: 0;
    }
  }
}
