.nameWrapper {
  display: flex;
  align-items: center;

  .signupName {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.heading {
  font-size: var(--fontsize-heading-xs) !important;
  font-weight: 600 !important;
  margin-bottom: 0;
}

.columnLoadingSpinner {
  padding: 0;
  justify-content: flex-start;
}
