.searchPanel {
  .searchInput {
    --dropdown-border-color-default: var(--dropdown-background-default);
  }

  .filterSummary {
    --filter-summary-color: var(--color-black);

    div {
      --tag-background: var(--color-white);
    }
  }
}
