.menu {
  --menu-dropdown-item-min-height: var(--spacing-xl);
  --menu-dropdown-border-color: var(--color-black-90);
  --menu-dropdown-border-width: 1px;
  --menu-dropdown-max-width: 25rem;
  --menu-dropdown-top-margin: 0;
  --menu-dropdown-item-background-color: var(--color-white);
  --menu-dropdown-item-background-color-disabled: var(--color-white);
  --menu-dropdown-item-background-color-highlighted: var(--color-bus);
  --menu-dropdown-item-color: var(--color-black-90);
  --menu-dropdown-item-color-disabled: var(--color-black-40);
  --menu-dropdown-item-color-highlighted: var(--color-white);

  &:not(.open) {
    display: none;
  }

  &.open {
    background-color: var(--menu-dropdown-item-background-color);
    border: var(--menu-dropdown-border-width) solid
      var(--menu-dropdown-border-color);
    margin: var(--menu-dropdown-top-margin) 0 0;
    max-width: var(--menu-dropdown-max-width);
    padding: var(--spacing-3-xs) 0;
    position: absolute;
    width: max-content;
    left: unset;
    right: 0;
  }
}

.item {
  align-items: center;
  box-sizing: border-box;
  color: var(--menu-dropdown-item-color);
  display: flex;
  flex: 1;
  line-height: var(--lineheight-m);
  min-height: var(--menu-dropdown-item-min-height);
  outline: none;
  padding: var(--spacing-2-xs) var(--spacing-s);
  text-decoration: none;
  width: 100%;

  &.highlighted,
  &:hover,
  &:focus {
    background-color: var(--menu-dropdown-item-background-color-highlighted);
    color: var(--menu-dropdown-item-color-highlighted);
  }

  &:disabled {
    background-color: var(--menu-dropdown-item-background-color-disabled);
    color: var(--menu-dropdown-item-color-disabled);
    cursor: not-allowed;
  }

  span:first-of-type:not(:only-of-type) {
    display: flex;
    margin: 0 var(--spacing-2-xs) 0 calc(var(--spacing-3-xs) * -1);
  }
}
