.colorBlack {
  --color: var(--color-black) !important;
  --color-hover: var(--color-black) !important;
  --color-focus: var(--color-black) !important;
  --color-hover-focus: var(--color-black) !important;
}
