@import 'breakpoints';
@import 'widths';

.alignedInput,
.alignedSelect,
.alignedInputWithFullBorder {
  --form-row-border-width: 1px;
  --form-row-border-color: var(--color-black-20);

  label {
    @include medium-up {
      float: left;
      min-height: var(--input-height);
      align-items: center;
      display: flex;
      border-bottom: var(--form-row-border-width) solid
        var(--form-row-border-color);
      margin-right: var(--spacing-xs);

      @include min-width-column(2);
    }
  }

  > div:last-of-type {
    display: flex;
  }
}

.alignedSelect {
  > div:first-of-type {
    display: flex;
    width: unset;
  }
}

.alignedInputWithFullBorder {
  @include medium-up {
    label {
      border-bottom: none;
    }

    border-bottom: var(--form-row-border-width) solid
      var(--form-row-border-color);
  }
}

.borderInMobile {
  border-bottom: var(--form-row-border-width) solid var(--form-row-border-color);

  @include medium-up {
    border-bottom: none;
  }
}

.form {
  margin: var(--spacing-m) 0;
}

.formContainer {
  padding-bottom: var(--spacing-m);
}
