@import '../../../assets/styles/breakpoints';
@import '../../../assets/styles/widths';


.alignedInput,
.alignedInputWithFullBorder,
.alignedSelect,
.alignedTextArea, 
.alignedTextAreaWithFullBorder {
  --form-row-border-width: 1px;
  --form-row-border-color: var(--color-black-20);
  --form-row-text-area-min-height: 149px;

  label {
    @include medium-up {
      float: left;
      min-height: var(--input-height);
      align-items: center;
      display: flex;
      border-bottom: var(--form-row-border-width) solid
        var(--form-row-border-color);
      margin-right: var(--spacing-xs);

      @include min-width-column(2);
      @include max-width-column(2);
    }
  }

  > div:last-of-type {
    display: flex;
  }
}

.alignedSelect {
  > div:first-of-type {
    display: flex;
    width: unset;
  }
}

.alignedTextArea {
  label {
    @include medium-up {
      min-height: var(--form-row-text-area-min-height);
      align-items: self-start;
      line-height: var(--input-height);
    }
  }

  textarea {
    resize: none !important;
  }
}

.alignedInputWithFullBorder,
.alignedTextAreaWithFullBorder {
  @include medium-up {
    label {
      border-bottom: none;
    }

    border-bottom: var(--form-row-border-width) solid
      var(--form-row-border-color);
  }
}

.borderInMobile {
  border-bottom: var(--form-row-border-width) solid var(--form-row-border-color);

  @include medium-up {
    border-bottom: none;
  }
}

.form {
  margin: var(--spacing-m) 0;
}

.formContainer {
  padding-bottom: var(--spacing-m);
}

.imagePreviewWrapper {
  @include medium-up {
    display: grid;
    grid-template-columns: 212px 1fr; 
    grid-gap: var(--spacing-xs);
    margin-bottom: var(--spacing-3-xs);
  }

  > label {
    border-bottom: var(--form-row-border-width) solid
        var(--form-row-border-color);
    
    color: var(--label-color-default,var(--color-black-90));
    display: block;
    font-size: var(--fontsize-body-m);
    font-weight: 500;  
  }
}

.addButton {
  margin-top: var(--spacing-m);
}