@import '../../../../../assets//styles/breakpoints.scss';
@import '../../../../../assets//styles/mixins.scss';

.streetAddressRow {
  @include small-down {
    > div:first-child {
      order: 2;
    }

    > div:last-child {
      order: 1;
    }
  }
}

.extraInfoField {
  --textarea-height: 95px !important;
}

.deleteButton {
  padding: var(--spacing-s);
  border: none;

  @include focus-outline(-3px);
}
