@import '../../../../assets/styles/mixins';

.divider {
  margin: var(--spacing-m) var(--spacing-s);
  border-top: 1px solid var(--color-black-20);
}

.eventTimesTable {
  width: 100%;

  .buttonColumn {
    width: 1%;
    padding: var(--focus-outline-width) !important;
  }

  .indexColumn {
    width: var(--spacing-l);
  }

  .toggleButton {
    padding: 0;
    display: flex;
    color: var(--color-black);

    @include focus-outline(0px);

    svg {
      transform: rotate(90deg);
    }
  }
}

.editEventTimeModal {
  overflow: visible;

  > div:nth-child(2) {
    overflow: visible;
  }
}

.deleteButton {
  height: var(--spacing-4-xl);
}
