@import 'breakpoints';
.timeSection {
  --button-wrapper-min-width: 56px;
  --input-max-width: 448px;
  --label-height: 28px;

  .notification {
    @include medium-up {
      margin-top: var(--label-height);
    }
  }
}
