@import 'breakpoints';

.timeSectionRow {
  display: grid;
  grid-template-columns: 1fr var(--button-wrapper-min-width);

  @include medium-up {
    grid-template-columns: minmax(0, var(--input-max-width)) auto;
  }

  .inputWrapper {
    @include medium-up {
      max-width: var(--input-max-width);
    }
  }

  .buttonWrapper {
    min-width: var(--button-wrapper-min-width);
    padding-top: var(--label-height);
  }
}
