.loadingSpinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: var(--spacing-m) 0;
  box-sizing: border-box;
}

.loadingSpinner {
  &.large {
    --spinner-size: 7.5rem;
    --spinner-thickness: 1.25rem;
  }
}
