.loadingSpinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: var(--spacing-m) 0;
  box-sizing: border-box;
}

.loadingSpinner {
  --spinner-size: 7.5rem;
  --spinner-size-small: 1.5rem;
  --spinner-thickness: 1.25rem;
  --spinner-width-small: 1.5rem;
  --spinner-thickness-small: 0.1875rem;

  &.loadingSpinnerSmall {
    --spinner-size: var(--spinner-size-small);
    --spinner-thickness: var(--spinner-thickness-small);
  }
}
