@import 'breakpoints';
@import 'mixins';

.table {
  --table-body-background: var(--color-white);
  --table-body-row-border-color: var(--color-black-10);
  --table-head-background: var(--color-black-5);

  border-collapse: collapse;
  min-width: 100%;
  font-size: var(--fontsize-body-m);

  thead tr,
  tbody tr {
    height: var(--spacing-4-xl);

    td,
    th {
      box-sizing: border-box;
      text-align: left;
      padding: var(--spacing-xs) var(--spacing-s);
    }
  }

  thead {
    tr {
      th {
        background-color: var(--table-head-background);
        font-weight: 600;
        white-space: nowrap;
      }
    }
  }

  tbody {
    tr {
      cursor: pointer;

      &:focus {
        outline: var(--focus-outline-width) solid var(--focus-outline-color);
        outline-offset: calc(0px - var(--focus-outline-width));

        &:not(:global(.focus-visible)) {
          outline: none;
        }
      }

      td {
        background-color: var(--table-body-background);
        border-bottom: 1px solid var(--table-body-row-border-color);
        white-space: nowrap;
      }
    }
  }

  button {
    @include focus-outline(0px);
  }

  a {
    color: var(--color-coat-of-arms);

    @include focus-outline(2px);
  }

  caption {
    @include hidden-from-screen;
  }
}

.sortableColumnButton {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0;
  font-weight: 600;
  white-space: nowrap;

  svg {
    margin-right: var(--spacing-2-xs);
  }
}

.noDataRow {
  td {
    text-align: center !important;
    font-weight: 500;
  }
}

.tableWrapper {
  max-width: calc(100vw - 2 * var(--spacing-s));
  overflow: auto;

  @include medium-up {
    max-width: calc(100vw - 2 * var(--spacing-m));
  }
}
