@import 'breakpoints';
@import 'widths';

.searchPanel {
  .searchInput {
    input {
      --input-border-color-default: var(--color-black-20);
    }
  }

  .inputRow {
    display: grid;
    grid-gap: var(--spacing-m);
    margin-top: var(--spacing-m);
    margin-bottom: var(--spacing-m);

    @include medium-up {
      display: flex;

      .typeSelectorWrapper,
      .buttonWrapper {
        @include min-width-column(2);
      }
      .searchInputWrapper {
        flex: 1 1 0%;
      }
    }
  }
}
