@import 'breakpoints';
@import 'mixins';

.editButtonPanel {
  --edit-button-panel-background-color: var(--color-coat-of-arms);
  --edit-button-panel-button-background-color: var(--color-coat-of-arms);
  --edit-button-panel-button-background-color-hover: var(
    --color-coat-of-arms-dark
  );
  --edit-button-panel-button-background-color-focus: var(--color-coat-of-arms);
  --edit-button-panel-button-background-color-hover-focus: var(
    --color-coat-of-arms-dark
  );
  --edit-button-panel-button-background-color-disabled: var(
    --color-coat-of-arms
  );
  --edit-button-panel-button-border-color: var(--color-white);
  --edit-button-panel-button-border-color-hover: var(--color-white);
  --edit-button-panel-button-border-color-focus: var(--color-white);
  --edit-button-panel-button-border-color-hover-focus: var(--color-white);
  --edit-button-panel-button-border-color-disabled: var(--color-black-40);
  --edit-button-panel-button-color: var(--color-white);
  --edit-button-panel-button-color-hover: var(--color-white);
  --edit-button-panel-button-color-focus: var(--color-white);
  --edit-button-panel-button-color-hover-focus: var(--color-white);
  --edit-button-panel-button-color-disabled: var(--color-black-40);
  --edit-button-panel-button-focus-outline-color: var(--color-white);

  position: sticky;
  margin-top: -1px;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--spacing-m) 0;
  background-color: var(--edit-button-panel-background-color);
  z-index: 100;
}

.buttonsRow {
  display: grid;
  grid-gap: var(--spacing-m);

  .saveButtonWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--spacing-m);
  }

  @include medium-up {
    grid-template-columns: 1fr 2fr 2fr;

    .actionButtonWrapper {
      display: flex;
    }

    .saveButtonWrapper {
      display: flex;
    }
  }

  @include large-up {
    grid-template-columns: 1fr 6fr 1fr 4fr;

    .actionButtonWrapper {
      display: flex;
    }

    .saveButtonWrapper {
      grid-column: 4;
    }
  }

  button {
    --background-color: var(--edit-button-panel-button-background-color);
    --background-color-hover: var(
      --edit-button-panel-button-background-color-hover
    );
    --background-color-focus: var(
      --edit-button-panel-button-background-color-focus
    );
    --background-color-hover-focus: var(
      --edit-button-panel-button-background-color-hover-focus
    );
    --background-color-disabled: var(
      --edit-button-panel-button-background-color-disabled
    );
    --border-color: var(--edit-button-panel-button-border-color);
    --border-color-hover: var(--edit-button-panel-button-border-color-hover);
    --border-color-focus: var(--edit-button-panel-button-border-color-focus);
    --border-color-hover-focus: var(
      --edit-button-panel-button-border-color-hover-focus
    );
    --border-color-disabled: var(
      --edit-button-panel-button-border-color-disabled
    );
    --color: var(--edit-button-panel-button-color);
    --color-hover: var(--edit-button-panel-button-color-hover);
    --color-focus: var(--edit-button-panel-button-color-focus);
    --color-hover-focus: var(--edit-button-panel-button-color-hover-focus);
    --color-disabled: var(--edit-button-panel-button-color-disabled);
    --focus-outline-color: var(--edit-button-panel-button-focus-outline-color);

    white-space: nowrap;

    & > div {
      flex-shrink: 0;
    }
  }
}

.backButton {
  height: var(--spacing-3-xl);

  div {
    margin-left: 0 !important;
  }

  span {
    @include hidden-from-screen;
  }
}
