@import 'breakpoints';
@import 'mixins';
@import 'widths';

.editButtonPanel {
  --edit-button-panel-background-color: var(--color-coat-of-arms);
  --edit-button-panel-button-background-color: var(--color-coat-of-arms);
  --edit-button-panel-button-background-color-hover: var(
    --color-coat-of-arms-dark
  );
  --edit-button-panel-button-background-color-focus: var(--color-coat-of-arms);
  --edit-button-panel-button-background-color-hover-focus: var(
    --color-coat-of-arms-dark
  );
  --edit-button-panel-button-border-color: var(--color-white);
  --edit-button-panel-button-color: var(--color-white);
  --edit-button-panel-button-focus-outline-color: var(--color-white);

  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  padding: var(--spacing-m) 0;
  background-color: var(--color-white);
  border-top: 1px solid var(--color-black-10);
  z-index: 100;
}

.buttonsRow {
  display: flex;
  grid-gap: var(--spacing-m);
  justify-content: space-between;
  flex-wrap: wrap;

  .buttonWrapper {
    display: flex;

    > button:not(:last-child) {
      margin-right: var(--spacing-m);
    }
  }

  .smallButton {
    @include min-width-column(1);
  }

  .mediumButton {
    @include min-width-column(2);
  }

  button {
    & > div {
      flex-shrink: 0;
    }
  }
}

.backButton {
  height: var(--spacing-3-xl);

  div {
    margin-left: 0 !important;
  }

  span {
    @include hidden-from-screen;
  }
}
