@import 'breakpoints';

.inputWrapper {
  display: grid;
  grid-gap: var(--spacing-m);

  @include medium-up {
    &.columns6 {
      grid-template-columns: repeat(6, 1fr);
    }

    &.columns10 {
      grid-template-columns: repeat(10, 1fr);
    }

    .inputColumns4 {
      grid-column: calc(var(--input-column-offset) + 1) /
        calc(var(--input-column-offset) + 5);
    }

    .inputColumns5 {
      grid-column: calc(var(--input-column-offset) + 1) /
        calc(var(--input-column-offset) + 6);
    }

    .inputColumns6 {
      grid-column: calc(var(--input-column-offset) + 1) /
        calc(var(--input-column-offset) + 7);
    }

    .inputColumns7 {
      grid-column: calc(var(--input-column-offset) + 1) /
        calc(var(--input-column-offset) + 8);
    }

    .inputColumns8 {
      grid-column: calc(var(--input-column-offset) + 1) /
        calc(var(--input-column-offset) + 9);
    }

    .maxWidthLarge {
      max-width: var(--input-max-width-l);
    }

    .maxWidthMedium {
      max-width: var(--input-max-width-m);
    }

    .offset0 {
      --input-column-offset: 0;
    }

    .offset1 {
      --input-column-offset: 1;
    }

    .offset2 {
      --input-column-offset: 2;
    }
  }
}
