@import '../../../assets/styles/breakpoints';

.breadcrumb {
  --breadcrumb-color: var(--color-black-90);
  --breadcrumb-color-link: var(--color-black-90);
  --breadcrumb-color-separator: var(--color-black);
  --line-height: 1.5555555556;
  
  color: var(--breadcrumb-color);
  font-size: var(--fontsize-body-l);
  font-weight: 400;
  line-height: var(--line-height);
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: var(--spacing-2-xs) 0;

  @include medium-up {
    --line-height: var(--lineheight-l);

    font-size: var(--fontsize-body-s);
    font-weight: 400;
  }

  .link {
    display: none;
    text-decoration: underline;
    color: var(--breadcrumb-color-link);

    @include medium-up {
      display: block;
    }

    &:hover {
      text-decoration: none;
    }

    &:last-of-type {
      align-items: center;
      display: flex;
      margin-left: calc(0px - var(--spacing-2-xs));

      @include medium-up {
        margin-left: 0;
      }

      &::before {
        --icon-angle-left: url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iSWNvbl9pY29uX18zcUpwcCBpY29uX2hkcy1pY29uX18yVHhyTSBJY29uX2xfXzJRanE4IGljb25faGRzLWljb24tLXNpemUtbF9fMXJJeUciIHZpZXdCb3g9IjAgMCAyNCAyNCIgcm9sZT0iaW1nIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBvbHlnb24gcG9pbnRzPSIyNCAwIDI0IDI0IDAgMjQgMCAwIj48L3BvbHlnb24+PHBvbHlnb24gZmlsbD0iY3VycmVudENvbG9yIiBwb2ludHM9IjEwLjUgMTIgMTUuNSAxNyAxNCAxOC41IDcuNSAxMiAxNCA1LjUgMTUuNSA3Ij48L3BvbHlnb24+PC9nPjwvc3ZnPg==);
        --icon-size: 24px;
    
        background-color: var(--breadcrumb-color-separator);
        background-size: contain;
        content: "";
        display: inline-block;
        height: var(--icon-size);
        width: var(--icon-size);
        mask-image: var(--icon-angle-left);
        mask-position: center;
        mask-repeat: no-repeat;
        mask-size: var(--icon-size) var(--icon-size);
        vertical-align: bottom;
        
        @include medium-up {
          display: none;
        }
      }
    }
  }

  .icon {
    display: none;
    color: var(--breadcrumb-color-separator);

    @include medium-up {
      --icon-size: var(--fontsize-body-s);

      display: block;
      margin: 0 2px;
    }
  }
  
  .current {
    --line-height: var(--lineheight-l);

    font-size: var(--fontsize-body-s);
    font-weight: 700;
    line-height: var(--line-height);
    display: none;

    @include medium-up {
      display: block;
    }
  }
}
