@import 'mixins';

.breadcrumb {
  --breadcrumb-color: var(--color-black-90);
  --breadcrumb-color-link: var(--color-bus);
  --breadcrumb-color-separator: var(--color-black);

  margin: 0;
  line-height: var(--lineheight-l);
  color: var(--breadcrumb-color);
}

.breadcrumbList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbLink {
  margin: 0;
  color: var(--breadcrumb-color-link);
  text-decoration: underline;

  @include focus-outline(2px);
}

.breadcrumbActiveItem {
  margin: 0;
  color: var(--breadcrumb-color);
  text-decoration: none;
}

.breadcrumbSeparator {
  display: flex;
  user-select: none;
  color: var(--breadcrumb-color-separator);
  margin: 0 var(--spacing-2-xs);
}
