.recurringEventTable {
  width: 100%;
  border-collapse: collapse;

  tbody tr:nth-child(2n + 1) {
    background-color: var(--color-white);
  }

  tbody tr:nth-child(2n + 0) {
    background-color: var(--color-black-5);
  }

  tbody tr td,
  tbody tr th {
    padding: 0 var(--spacing-s);
    font-size: var(--fontsize-m);

    div {
      display: flex;
      align-items: center;
      min-height: var(--input-height);
    }
  }

  tbody tr td {
    font-size: var(--fontsize-m);
  }

  tbody tr th {
    width: 1%;
    padding: 0 var(--spacing-s) 0 var(--spacing-4-xl);
    white-space: nowrap;
  }
}
