.imageUploader {
  --image-loader-background-color: var(--color-white);
  --image-loader-border-color: var(--color-coat-of-arms);
  --image-loader-color: var(--color-coat-of-arms);
  --image-loader-color-hover: var(--color-coat-of-arms);
  --image-loader-min-height: 104px;
}

.dropZone {
  display: flex;
  position: relative;
  min-height: var(--image-loader-min-height);
  background: var(--image-loader-background-color);
  border: 2px dashed var(--image-loader-border-color);
  border-radius: 4px;
  color: var(--image-loader-color);

  &.hover {
    border-style: solid;
    color: var(--image-loader-color-hover);
  }
}

.dropZone {
  width: 100%;
  align-items: center;
  justify-content: center;

  svg {
    margin-right: var(--spacing-xs);
  }
}
