@import "../../../assets/styles/breakpoints.scss";

.removeButton {
  @include small-down {
    width: 100%;
  }
}

.imageCropperWrapper {
  display: grid;
  margin-bottom: var(--spacing-s);

  @include medium-up {
    margin-bottom: var(--spacing-m);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--spacing-m);

    > div {
      grid-column: 1 / 4;
    }
  } 
}