@import 'mixins';

.idColumn {
  width: 25%;
}

.nameColumn {
  width: 30%;
}

.nEventsColumn {
  width: 15%;
}

.streetAddressColumn {
  width: 30%;
}

.actionButtonsColumn {
  width: 1px;
  padding: var(--focus-outline-width) !important;
}
