@import 'breakpoints';

.checkboxsWrapper {
  display: grid;
  align-items: flex-start;
  grid-gap: var(--spacing-m);

  & > div {
    margin-top: 0 !important;
  }

  &.columns2 {
    @include medium_up {
      grid-template-columns: 1fr 1fr;
    }
  }

  &.columns3 {
    @include medium_up {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &.columns4 {
    @include medium_up {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.buttonWrapper {
  margin-top: var(--spacing-m);
}

.errorText {
  color: var(--color-error);
  display: block;
  font-size: var(--fontsize-body-m);
  margin-top: var(--spacing-2-xs);
}
