@import '../../../assets/styles/mixins';

.deleteButton {
  --delete-button-color: var(--color-black-90);
  --delete-button-color-icon: var(--color-error);

  color: var(--delete-button-color-icon) !important;
  height: var(--delete-button-height);

  @include focus-outline();
}
