@import 'breakpoints';
@import 'widths';

.searchPanel {
  --event-search-panel-background-color: var(--color-coat-of-arms);
  --event-search-panel-label-color: var(--color-white);
  --event-search-panel-koros-height: 70px;

  --event-search-panel-button-background-color: var(--color-coat-of-arms);
  --event-search-panel-button-background-color-hover: var(
    --color-coat-of-arms-dark
  );
  --event-search-panel-button-background-color-focus: var(--color-coat-of-arms);
  --event-search-panel-button-background-color-hover-focus: var(
    --color-coat-of-arms-dark
  );
  --event-search-panel-button-border-color: var(--color-white);
  --event-search-panel-button-color: var(--color-white);
  --event-search-panel-button-focus-outline-color: var(--color-white);

  .searchPanelWrapper {
    position: relative;
    z-index: 2;
    background-color: var(--event-search-panel-background-color);
    padding: var(--spacing-4-xl) 0;
  }

  .button {
    --background-color: var(--event-search-panel-button-background-color);
    --background-color-hover: var(
      --event-search-panel-button-background-color-hover
    );
    --background-color-focus: var(
      --event-search-panel-button-background-color-focus
    );
    --background-color-hover-focus: var(
      --event-search-panel-button-background-color-hover-focus
    );
    --border-color: var(--event-search-panel-button-border-color);
    --border-color-hover: var(--event-search-panel-button-border-color);
    --border-color-focus: var(--event-search-panel-button-border-color);
    --border-color-hover-focus: var(--event-search-panel-button-border-color);
    --color: var(--event-search-panel-button-color);
    --color-hover: var(--event-search-panel-button-color);
    --color-focus: var(--event-search-panel-button-color);
    --color-hover-focus: var(--event-search-panel-button-color);
    --focus-outline-color: var(--event-search-panel-button-focus-outline-color);
  }

  .searchRow {
    display: grid;
    grid-gap: var(--spacing-m);

    @include medium-up {
      display: flex;
      grid-gap: unset;
    }

    .inputWrapper {
      flex: 1 1 0%;
      display: grid;
      grid-gap: var(--spacing-m);

      @include medium-up {
        margin-right: var(--spacing-m);
      }

      .advancedFilters {
        display: grid;
        grid-gap: var(--spacing-m);

        @include large-up {
          grid-template-columns: 3fr 3fr 2fr;
        }
      }
    }

    .buttonWrapper {
      @include min-width-column(2);
      align-items: flex-end;
      display: flex;
    }
  }

  .searchInput {
    label {
      font-size: var(--fontsize-heading-s);
      color: var(--event-search-panel-label-color);
    }
  }

  .koros {
    margin-top: calc(0px - var(--event-search-panel-koros-height));
    fill: var(--event-search-panel-background-color);
  }
}
