@import '../../../assets/styles/breakpoints';
@import '../../../assets/styles/widths';

.searchPanel {
  --search-panel-background-color: var(--color-coat-of-arms);
  --search-panel-label-color: var(--color-white);
  --search-panel-button-border-color: var(--color-white);
  --search-panel-koros-height: 70px;

  --search-panel-button-background-color: var(--color-coat-of-arms);
  --search-panel-button-background-color-hover: var(--color-coat-of-arms-dark);
  --search-panel-button-color: var(--color-white);

  .searchPanelWrapper {
    position: relative;
    z-index: 3;
    background-color: var(--search-panel-background-color);
    padding: 0 0 var(--spacing-4-xl);
  }

  .button {
    --background-color: var(--search-panel-button-background-color);
    --background-color-hover: var(--search-panel-button-background-color-hover);
    --background-color-focus: var(--search-panel-button-background-color);
    --background-color-hover-focus: var(
      --search-panel-button-background-color-hover
    );
    --border-color: var(--search-panel-button-border-color);
    --border-color-hover: var(--search-panel-button-border-color);
    --border-color-focus: var(--search-panel-button-border-color);
    --border-color-hover-focus: var(--search-panel-button-border-color);
    --color: var(--search-panel-button-color);
    --color-hover: var(--search-panel-button-color);
    --color-focus: var(--search-panel-button-color);
    --color-hover-focus: var(--search-panel-button-color);
    --focus-outline-color: var(--search-panel-button-color);
  }

  .titleRow {
    color: var(--color-white);
  }

  .searchRow {
    display: grid;
    grid-gap: var(--spacing-m);
    margin-top: var(--spacing-s);

    @include medium-up {
      display: flex;
      grid-gap: unset;
    }

    .inputWrapper {
      flex: 1 1 0%;
      display: grid;
      grid-gap: var(--spacing-m);

      @include medium-up {
        margin-right: var(--spacing-m);
      }

      .advancedFilters {
        display: grid;
        grid-gap: var(--spacing-m);

        @include large-up {
          grid-template-columns: 3fr 3fr 2fr;
        }
      }
    }

    .buttonWrapper {
      @include min-width-column(2);
      align-items: flex-end;
      display: flex;
    }
  }

  .searchInput {
    --dropdown-border-color-default: var(--dropdown-background-default);

    label {
      font-size: var(--fontsize-heading-s);
      color: var(--search-panel-label-color);
    }
  }

  .koros {
    margin-top: calc(0px - var(--search-panel-koros-height));
    fill: var(--search-panel-background-color);
  }
}
