@import '../../../assets/styles/breakpoints';

.divider {
  border-top: 1px solid var(--color-black-20);
  margin: var(--spacing-m) 0;
}

.warning {
  margin: var(--spacing-m) 0;
}

.editPageContentContainer {
  background-color: var(--color-white);
  margin: 0 calc(0px - var(--spacing-s)) var(--spacing-m);
  padding: 0 var(--spacing-s) var(--spacing-s);
  
  @include medium-up {
    margin: 0 calc(0px - var(--spacing-m)) var(--spacing-m);
    padding: 0 var(--spacing-m) var(--spacing-m);
  }
}