@import 'breakpoints';

.formLanguageSelector {
  --form-language-selector-color-icon: var(--color-success);

  display: grid;
  grid-gap: var(--spacing-m);

  @include medium-up {
    padding-top: var(--label-height);
  }

  .icon {
    color: var(--form-language-selector-color-icon);
  }

  button {
    span {
      padding-right: var(--spacing-s) !important;
    }
  }
}
