@import 'breakpoints';

.formLanguageSelector {
  --form-language-selector-color-icon: var(--color-success);
  --item-active-color: var(--color-bus);
  --item-focus-outline-color: var(--navigation-row-focus-outline-color);

  display: flex;
  grid-gap: var(--spacing-xs);
  height: var(--spacing-3-xl);
  border-bottom: 2px solid var(--color-black-10);

  @include medium-up {
    padding-top: var(--label-height);
  }

  .icon {
    color: var(--form-language-selector-color-icon);
    margin-right: var(--spacing-s);
  }

  .item {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--color-bus);
    padding: 0px var(--spacing-s);
  }

  .item:hover:not(:focus):after {
    background-color: var(--item-active-color);
    bottom: 0;
    content: '';
    height: var(--spacing-3-xs);
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }

  .item.isSelected:after {
    background-color: var(--item-active-color);
    bottom: 0;
    content: '';
    height: var(--spacing-3-xs);
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }
}
