@import 'breakpoints';
@import 'mixins';

.eventCard {
  --event-card-background-color: var(--color-white);
  --event-card-color: var(--color-black-60);
  --event-card-icon-color: var(--color-black-90);
  --event-card-heading-color: var(--color-black-90);
  --event-card-image-background-color: var(--color-black-10);
  --event-card-image-min-height: 7.5rem;
  --event-card-mobile-image-min-height: 12rem;

  display: grid;
  background-color: var(--event-card-background-color);
  color: var(--event-card-color);
  font-size: var(--fontsize-body-s);
  text-decoration: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);

  &:hover {
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
  }

  @include focus-outline(0px);

  @include medium-up {
    grid-template-columns: repeat(10, 1fr);
    grid-gap: var(--spacing-m);
  }

  h2 {
    color: var(--event-card-heading-color);
    font-weight: 600;
    font-size: var(--fontsize-heading-s);
    margin: 0;
  }

  .icon {
    color: var(--event-card-icon-color);
  }

  .imageWrapper {
    position: relative;
    min-height: var(--event-card-mobile-image-min-height);
    background-color: var(--event-card-image-background-color);
    display: flex;
    padding: var(--spacing-m);

    @include medium-up {
      min-height: var(--event-card-image-min-height);
      grid-column: 1 /3;
      padding: var(--spacing-xs);
    }

    .image,
    .placeholderImage {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .placeholderImage {
      background-color: var(--event-card-image-background-color);
      z-index: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .image {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 1;
    }

    .tag {
      z-index: 2;
    }
  }

  .eventInfoWrapper {
    position: relative;
    display: grid;
    padding: var(--spacing-m);
    line-height: var(--lineheight-m);
    grid-gap: var(--spacing-xs);

    @include medium-up {
      padding: var(--spacing-s) var(--spacing-s) var(--spacing-s) 0;
      grid-column: 3 / 11;
    }

    .actionButtons {
      position: absolute;
      right: var(--spacing-m);
      top: var(--spacing-m);

      @include medium-up {
        right: var(--spacing-s);
        top: var(--spacing-s);
      }
    }

    .nameRow {
      order: 2;
    }

    .dateRow {
      order: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: var(--spacing-s);
      margin-top: calc(0px - var(--spacing-xs));

      @include medium-up {
        grid-gap: var(--spacing-m);
      }
    }

    .publisherRow {
      order: 3;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: var(--spacing-s);

      @include medium-up {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--spacing-m);
      }

      .publisherColumn {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--spacing-s);

        @include medium-up {
          grid-gap: var(--spacing-m);
        }

        .publisherName {
          padding-top: var(--spacing-3-xs);
        }
      }

      .ticketColumn {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: var(--spacing-s);

        > div:last-child {
          grid-column: 1 / 3;
        }

        @include medium-up {
          grid-template-columns: repeat(4, 1fr);
          grid-gap: var(--spacing-m);

          > div:last-child {
            grid-column: 3 / 5;
          }
        }
      }
    }
  }

  .eventStatusTagWrapper {
    color: unset;
    display: flex;
    margin-top: -4px;
  }
}

.toggleButton {
  display: inline-flex;
  grid-gap: var(--spacing-xs);
  align-items: center;
  margin-top: var(--spacing-m);
}

.eventCardWrapper {
  @include small-down {
    margin-right: 0 !important;
  }
}

.loadingSpinner {
  padding: 0;
  width: unset;
  display: inline-flex;
}
