.textWithIcon {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  line-height: var(--lineheight-s);

  svg {
    align-self: flex-start;
    margin-right: var(--spacing-2-xs);
  }

  .text {
    align-self: flex-start;
    padding-top: var(--spacing-3-xs);
  }
}
