.select {
  max-width: 100% !important;

  > div:focus-within {
    box-shadow: none;

    button:focus-visible {
      outline: var(--focus-outline-width) solid var(--focus-outline-color);
      outline-offset: 1px;
    }
  }
}
