.selectLoadingSpinner {
  position: relative;
}

.loadingSpinnerWrapper {
  position: absolute;
  top: 2.75rem;
  right: var(--spacing-2-xl);

  &.alignedLabel {
    top: 1rem;
  }
}

.loadingSpinner {
  padding: 0;
}
