@import '../../../../assets/styles/breakpoints';
@import '../../../../assets/styles/widths';

.titleRowWrapper {
  display: grid;

  .breadcrumb {
    @include medium-up {
      order: 2;
    }
  }

  .titleRow {
    display: grid;
    grid-gap: var(--spacing-m);
  
    .title {
      *:not(:last-child) {
        margin-right: var(--spacing-xs);
      }
  
      h1 {
        margin: 0;

        @include medium-up {
          margin: var(--spacing-m) 0 0;
        }
        
      }
    }
  
    .buttonWrapper {
      margin-bottom: var(--spacing-m);
    }
  
    @include medium-up {
      order: 1;
      display: flex;
  
      .title {
        flex: 1 1 0%;
      }
  
      .buttonWrapper {
        align-self: flex-end;
        margin-bottom: unset;
      }
  
      button {
        @include min-width-column(2);
  
        white-space: nowrap;
      }
    }
  }
}


