@import 'breakpoints';

.navigationRow {
  display: grid;
  grid-gap: var(--spacing-m);

  @include medium-up {
    grid-template-columns: repeat(10, 1fr);
  }

  .tabSelector {
    @include medium-up {
      grid-column: 1 / 7;
    }
  }

  .addButton {
    @include medium-up {
      order: 2;
      grid-column: 7 / 11;
    }

    @include large-up {
      order: 2;
      grid-column: 8 / 11;
    }
  }
}
