.eventsPage {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.breadcrumb {
    margin-bottom: var(--spacing-m);  
}

.tabPanel {
  flex: 1 1 0%;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

.eventList {
  display: grid;
  grid-template-rows: auto 1fr;
}
