@import 'breakpoints';

.descriptionSection {
  display: grid;
  grid-gap: var(--spacing-m);

  @include medium-up {
    grid-template-columns: 2fr 8fr;
    grid-gap: var(--spacing-m);
  }

  .splittedRow {
    display: grid;
    grid-gap: var(--spacing-m);

    @include medium-up {
      grid-template-columns: 1fr 1fr;
    }
  }
}
