@import 'breakpoints';

.container {
  box-sizing: border-box;
  align-items: center;
  display: grid;
  padding: 0 var(--spacing-s);
  width: 100%;

  @include small-down {
    position: relative;
  }

  @include medium-up {
    padding: 0 var(--spacing-m);
  }

  @include large-up {
    margin: 0 auto;
    max-width: var(--breakpoint-xl);
  }

  .contentWrapper {
    line-height: var(--lineheight-l);
  }

  &.withOffset {
    @include x-large-up {
      grid-template-columns: repeat(12, 1fr);
      grid-gap: var(--spacing-m);

      .contentWrapper {
        grid-column: 2 / 12;
      }
    }
  }
}
