@import 'breakpoints';

.container {
  box-sizing: border-box;
  align-items: center;
  display: block;
  padding: 0 var(--spacing-s);
  width: 100%;

  @include x-small-only {
    overflow: hidden;
  }

  @include small-down {
    position: relative;
  }

  @include medium-up {
    padding: 0 var(--spacing-m);
  }

  @include large-up {
    margin: 0 auto;
    max-width: var(--breakpoint-xl);
  }
}
