.pageWrapper {
  padding-bottom: var(--spacing-5-xl);
}

.backgroundColorWhite {
  background-color: var(--color-white);
}

.backgroundColorGray {
  background-color: var(--color-black-5);
  margin-bottom: var(--spacing-5-xl);
}
