.backgroundColorWhite {
  background-color: var(--color-white);
}

.backgroundColorGray {
  background-color: var(--color-black-5);
  margin-bottom: var(--spacing-5-xl);
}

.backgroundColorCoatOfArms {
  background-color: var(--color-coat-of-arms-light);
  margin-bottom: var(--spacing-5-xl);
}
