@import 'breakpoints';

.pageLayout {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;

  &.menuOpen {
    header {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
    }

    > div:nth-child(2) {
      visibility: hidden;
    }
    > div:nth-child(3) {
      visibility: hidden;
    }
  }
}

.pageBody {
  display: grid;
  align-content: flex-start;
  background-color: var(--page-background-color);

  .bodyWrapper {
    display: grid;

    @include medium-up {
      grid-template-columns: 1fr 5fr;
      grid-gap: var(--spacing-m);
    }
  }
}
