@import 'breakpoints';
@import 'widths';

.registrationsPage {
  display: flex;
  height: 100%;
  flex-direction: column;

  .filterSummary {
    --filter-summary-color: var(--color-black);

    div {
      --tag-background: var(--color-white);
    }
  }
}

.notification {
  margin: var(--spacing-m) 0;
}
