@import 'breakpoints';

.enrolmentsPage {
  h1 {
    font-size: var(--fontsize-heading-l);
    font-weight: 500;
    margin: 0;
  }
  h2,
  h3 {
    font-size: var(--fontsize-heading-s);
    font-weight: normal;
  }
  p {
    margin-top: 0;
  }
}

.pageContentContainer {
  background-color: var(--color-white);
  margin: var(--spacing-m) calc(0px - var(--spacing-s));
  padding: var(--spacing-m);

  @include medium-up {
    margin: var(--spacing-m) calc(0px - var(--spacing-m));
  }
}

.attendeeList,
.waitingList {
  margin-top: var(--spacing-l);
}

.table {
  display: grid;
  grid-gap: var(--spacing-m);
}

.table {
  max-width: calc(100vw - 2 * var(--spacing-m));
  overflow: auto;
}
