@import '../../assets/styles/breakpoints';

.enrolmentsPage {
  h1 {
    font-size: var(--fontsize-heading-l);
    font-weight: 500;
    margin: 0;
  }
  h2,
  h3 {
    font-size: var(--fontsize-heading-s);
    font-weight: normal;
  }
  p {
    margin-top: 0;
  }
}

.titleButtonWrapper {
  align-self: center !important;
}

.pageContentContainer {
  background-color: var(--color-white);
  margin: var(--spacing-m) calc(0px - var(--spacing-s));
  padding: var(--spacing-s);

  @include medium-up {
    margin: var(--spacing-m) calc(0px - var(--spacing-m));
    padding: var(--spacing-m);
  }
}

.attendeeList,
.waitingList {
  margin-top: var(--spacing-l);
}

.createButton {
  @include medium-up {
    margin-top: calc(0px - var(--spacing-l));
  }
}
