.modalButtonWrapper {
  display: flex;
  grid-gap: var(--spacing-m);
  background-color: var(--color-white);
  position: sticky;
  bottom: 0;
  padding: var(--spacing-xl);
  margin: 0 calc(0px - var(--spacing-l));
  margin-bottom: calc(0px - var(--spacing-l));
}

.warning {
  margin-bottom: calc(0px - var(--spacing-m)) !important;
  text-transform: uppercase;
}

.loadingSpinner {
  padding: 0;

  & > div {
    --spinner-color: var(--color);
  }
}
