.eventInfo {
  margin-bottom: var(--spacing-3-xl);

  p {
    margin: var(--spacing-2-xs) 0 !important;
  }

  .statusTag {
    display: flex;
    margin-bottom: var(--spacing-m);
  }

  .heading {
    display: flex;
    align-items: center;

    *:not(:last-child) {
      margin-right: var(--spacing-xs);
    }
  }
}
