@import '../../assets/styles/breakpoints';


.breadcrumbContainer {
  background-color: var(--color-white);
  margin: var(--spacing-m) calc(0px - var(--spacing-s)) 0;
  padding: var(--spacing-m) var(--spacing-m) 0;

  @include medium-up {
    margin: var(--spacing-m) calc(0px - var(--spacing-m)) 0;
  }
}

.breadcrumb {
  margin-top: calc(0px - var(--spacing-2-xs)) !important;
}

.createContainer {
  margin-top: var(--spacing-m);
}

