@import 'breakpoints';
@import 'widths';

.searchRow {
  display: flex;
  flex-direction: column-reverse;
  margin: var(--spacing-m) 0;

  @include medium-up {
    display: grid;
    grid-gap: var(--spacing-m);
    grid-template-columns: 1fr auto;
  }
}

.count {
  font-size: var(--fontsize-heading-xs);
  font-weight: 600;
  margin-top: var(--spacing-m);

  @include medium-up {
    margin-top: 0;
    display: flex;
    align-items: flex-end;
  }
}

.searchInput {
  @include medium-up {
    @include min-width-column(4);
  }

  input {
    --input-border-color-default: var(--color-black-90);
  }
}
