.wrapper {
  --menu-background-color: var(--color-white);
  --menu-border-color: var(--input-border-color-default);
  --menu-max-height: 20rem;
  --menu-z-index: 101;
  --menu-item-background-color: transparent;
  --menu-item-background-color-highlighted: var(--color-black-10);
  --menu-item-fontsize: var(--fontsize-body-l);
  --menu-item-spacing: var(--spacing-s);
}

.wrapper {
  .dropdownMenu {
    position: absolute;
    padding: 0;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    background-color: var(--menu-background-color);
    border-radius: 1px;
    overflow-y: auto;
    max-height: var(--menu-max-height);

    &.isOpen {
      list-style: none;
      margin-top: -2px;
      padding-top: 2px;
      outline: none;
      border: 2px solid var(--menu-border-color);
      border-top: none;
      z-index: var(--menu-z-index);
    }

    li {
      list-style: none;
    }
  }

  .dropdownMenuItem {
    font-size: var(--menu-item-fontsize);
    padding: var(--menu-item-spacing);
    background-color: var(--menu-item-background-color);

    &:hover,
    &.isHighlighted {
      background-color: var(--menu-item-background-color-highlighted);
    }
  }
}
