@mixin button-reset {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

@mixin hidden-from-screen {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: 0 -1px -1px 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

@mixin focus-outline($offset: 0px, $color: var(--focus-outline-color)) {
  &:focus {
    outline: var(--focus-outline-width) solid $color;
    outline-offset: $offset;

    &:not(:focus-visible) {
      outline: none;
    }
  }
}
