@import 'breakpoints';

.tabList {
  --tabs-icon-color: var(--color-success);
  --tabs-tab-color: var(--color-bus);
  --tabs-tab-color-active: var(--color-bus);

  display: flex;
  grid-gap: var(--spacing-xs);
  height: var(--spacing-3-xl);
  border-bottom: 2px solid var(--color-black-10);

  .icon {
    color: var(--tabs-icon-color);
    margin-right: var(--spacing-s);
  }

  .tab {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--tabs-tab-color);
    padding: 0px var(--spacing-s);
  }

  .tab:hover:not(:focus):after,
  .tab.isActive:after {
    background-color: var(--tabs-tab-color-active);
    bottom: 0;
    content: '';
    height: var(--spacing-3-xs);
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }
}
