@import 'breakpoints';

.tabSelector {
  --tab-selector-color-icon: var(--color-success);
  --tab-selector-selector-item-color: var(--color-bus);
  --tab-selector-selector-item-color-active: var(--color-bus);

  display: flex;
  grid-gap: var(--spacing-xs);
  height: var(--spacing-3-xl);
  border-bottom: 2px solid var(--color-black-10);

  .icon {
    color: var(--tab-selector-icon-color);
    margin-right: var(--spacing-s);
  }

  .item {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--tab-selector-item-color);
    padding: 0px var(--spacing-s);
  }

  .item:hover:not(:focus):after,
  .item.isSelected:after {
    background-color: var(--tab-selector-item-color-active);
    bottom: 0;
    content: '';
    height: var(--spacing-3-xs);
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }
}
