@import 'breakpoints';
@import 'mixins';

.eventCards,
.table {
  display: grid;
  grid-gap: var(--spacing-m);
  margin: var(--spacing-m) 0;
}

.listStyleRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--spacing-m);
  margin-top: var(--spacing-l);

  .listStyleSelectorColumn {
    display: grid;
    grid-template-columns: auto 1fr;
    align-content: flex-end;
  }

  .count {
    display: grid;
    align-content: center;
    min-height: var(--input-height);
    font-size: var(--fontsize-heading-xs);
    font-weight: 700;
  }

  @include medium-up {
    grid-template-columns: repeat(10, 1fr);
    .listStyleSelectorColumn {
      grid-column: 1 / 7;
    }
    .sortSelector {
      grid-column: 7 / 11;
    }
  }

  @include large-up {
    .listStyleSelectorColumn {
      grid-column: 1 / 8;
    }
    .sortSelector {
      grid-column: 8 / 11;
    }
  }

  .sortOrderSelector label {
    @include hidden-from-screen;
  }
}
