@import '../../../assets/styles/breakpoints';
@import '../../../assets/styles/widths';

.searchRow,
.filterRow {
  display: grid;
  grid-gap: var(--spacing-m);

  @include large-up {
    display: flex;
  }
}

.searchRow {
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-m);
}

.filterRow {
  flex-wrap: wrap;
}

.buttonWrapper {
  @include min-width-column(2);
}

.selectorColumn {
  @include min-width-column(3);

  &.small {
    @include min-width-column(2);
  }
}

.inputWrapper,
.textSearchColumn {
  flex: 1 1 0%;
}

.inputWrapper {
  display: grid;
  grid-gap: var(--spacing-m);
}
