@import '../../../assets/styles/breakpoints';
@import '../../../assets/styles/widths';

.fieldWithButton {
  display: flex;
  flex-direction: column;

  @include large-up {
    flex-direction: row;
  }

  .buttonColumn {
    min-width: var(--input-height);
  }

  .inputColumn {
    flex: 1 1 0%;
  }

  &.widthMedium {
    @include medium-up {
      .buttonColumn,
      .inputColumn {
        @include max-width-column(4);
      }
    }
  }

  &.widthLarge {
    @include medium-up {
      .buttonColumn,
      .inputColumn {
        @include max-width-column(5);
      }
    }
  }

  &.hasLabel {
    .buttonColumn {
      @include medium-down {
        display: flex;
        justify-content: flex-end;
      }

      @include large-up {
        padding-top: var(--label-height);

        button {
          margin: 0;
        }
      }
    }
  }
}
