@import 'breakpoints';
@import 'widths';

.fieldWithButton {
  display: flex;

  .buttonColumn {
    min-width: var(--input-height);
  }

  .inputColumn {
    flex: 1 1 0%;
  }

  &.widthMedium {
    @include medium-up {
      .inputColumn {
        @include max-width-column(4);
      }
    }
  }

  &.widthLarge {
    @include medium-up {
      .inputColumn {
        @include max-width-column(5);
      }
    }
  }

  &.hasLabel {
    .buttonColumn {
      padding-top: var(--label-height);
    }
  }
}
